@model NgolaTur.Models.Provincia

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Provincia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProvincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProvincia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoProvincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoProvincia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Retornar a listagem</a>
</div>
