@model NgolaTur.Models.PontoTuristico

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Ponto Turistico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePontoTuristico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePontoTuristico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoPontoTuristico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoPontoTuristico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Retornar a listagem</a>
</div>
